
.game-buttons {
	margin: 25px 0px;
	background: pink;
}

.game-buttons ul {
	list-style: none;
	margin: 20px 0px;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	background: #222;
	color: white;

}

.game-buttons ul li {
	margin: 0;
	padding: 0;
}

.game-buttons ul li:hover {
	cursor: pointer;
	text-decoration: underline;
}

.game-buttons input[type="text"] {
	display: block;
	width: 10%;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0px 10px;
	font-size: initial;

}